body {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

.container {
    background-color: rgb(74, 134, 232);
    text-align: center;
    border-color: aqua;
    border-radius: 1rem;
    padding-top: 10px;
    max-width: 500px;
    min-width: 500px;
}
#span-id {
    background-color: yellow;
    border: 5px solid orange;
    padding: 7px 20px 0 20px;
    border-radius: 2rem;
}

.game-title {
    font-size: 25px;
    font-family: fantasy;
    padding: 10px;
    margin-bottom: 10px;
}

.game-graphic {
    max-height: 250px;
    border-radius: 10px;
}

.question-display-wrapper {
    background-color: rgb(16, 223, 175);
    padding: .5rem;
    margin: 10px 10px 10px 10px;
    border: 5px solid white;
    border-radius: 1rem;
    font-size:larger
}

.answer-button-wrapper button {
    background-color: yellow;
    margin: 15px 40px 15px 40px;
    border: 5px solid orange;
    border-radius: 1rem;
    width: 160px;
    height: 50px;
}

