html, body {
    height: 100vh;
    /* margin: 0; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(93, 200, 111);
}


.container {
    background-color: rgb(74, 134, 232);
    text-align: center;
    border: 20px solid rgb(21, 231, 203);
    border-style: ridge;
    border-radius: 1rem;
    padding-top: 10px;
    max-width: 500px;
    width: 90%;
    margin-top: 10vh;
}

.titleUnderline {
    text-decoration: none;
}

#span-id {
    background-color: yellow;
    border: 5px solid orange;
    border-radius: 2rem;
    border-style: inset;
    padding: 7px 20px 0 20px;
}

.game-title {
    font-size: 20px;
    font-family: fantasy, "Times New Roman", Times, serif;
    padding: 10px;
    margin-bottom: 10px;
}

.game-graphic, .you-win, .you-lose {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.start-button-class, .reset-class {
    background-color: rgb(239, 252, 0);
    border: 5px solid rgb(214, 123, 201);
    border-style: solid none dashed none;
    border-radius: 5rem;
    font-size: 30px;
    color: rgb(233, 72, 163);
    padding: 21px 40px;
    margin: 73.5px;
}

.start-button-class:hover, .reset-class:hover {
    background-color: rgb(118, 229, 71);
}

.question-display-wrapper {
    background-color: rgb(21, 231, 203);
    border: 5px solid white;
    border-style: double;
    border-radius: 1rem;
    font-size:large;
    width: 90%;
    margin-left: 4%;
    margin-top: 5px;
}

.answer-button-wrapper button{
    background-color: yellow;
    border: 5px solid orange;
    border-radius: 1rem;
    width: 150px;
    height: 60px;
    font-size: large;
    margin: 10px;
}

.answer-button-wrapper :hover {
    border-color: white;
}

.hide {
    display: none;
}

#spanScore {  
    display: inline-block;
    width: 10px;
    padding: 3px 10px 0px 5px;
}

.score-class {
    font-size: larger;
    color: rgb(255, 255, 255);
    padding: 11px;
    border: 10px solid rgb(109, 191, 198);
    border-style: double;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.copyright {
    /* padding-bottom: 3px; */
    font-size: medium;
    position: fixed;
    bottom: 1px;
  }
  
    .navLogo {
      position: fixed;
      left: 5px;
      bottom: 5px;
      height: 75px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        gap: 10px;
        margin-top: auto;
    }

    @media only screen and (max-width: 299px){
        .navLogo {
            height: 50px;
        }
        .copyright {
          text-align: center;
          font-size: 7px;
      }
    }
      @media only screen and (max-width: 375px) and (min-width: 300px){
        .navLogo {
            height: 60px;
        }
      }
    
      @media only screen and (max-width: 400px) and (min-width: 376px){
        .navLogo {
            height: 60px;
        }
      }
    
      @media only screen and (max-width: 430px) and (min-width: 401px){
        .navLogo {
            height: 60px;
        }
      }
 
      @media only screen and (max-width: 450px) and (min-width: 300px) {
        .copyright {
          text-align: center;
          font-size: 65%;
        }
      }

@media screen and (max-width: 600px) {
    .question-display-wrapper {
        font-size: 13px;
    }
    .score-class {
        font-size: medium;
    }
    .game-graphic, .you-win, .you-lose {
        height: 200px;
        width: 200px;
    }
    .answer-button-wrapper button{
        width: 150px;
        height: 50px;
        font-size: 13px;
        margin: 10px;
        border: 3px solid orange;
    }
    .answer-button-wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .start-button-class, .reset-class {
        font-size: 35.5px;
        margin: 43px 40px 60px 40px;
    }
    .container {
        border: 10px solid rgb(21, 231, 203);
        width: 90%;
    }
    .game-title {
        font-size: 15px;
    }
}