body {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 125, 96);
}

.container {
    background-color: rgb(74, 134, 232);
    text-align: center;
    border: 20px solid rgb(21, 231, 203);
    border-style: ridge;
    border-radius: 1rem;
    padding-top: 10px;
    max-width: 500px;
    width: 90%;
    /* min-width: 480px; */
    /* max-height: 740px; */
    /* min-height: 740px; */
}

.titleUnderline {
    text-decoration: none;
}

#span-id {
    background-color: yellow;
    border: 5px solid orange;
    border-radius: 2rem;
    border-style: inset;
    padding: 7px 20px 0 20px;
}

.game-title {
    font-size: 20px;
    font-family: fantasy;
    padding: 10px;
    margin-bottom: 10px;
}

.game-graphic, .you-win, .you-lose {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.start-button-class, .reset-class {
    background-color: rgb(239, 252, 0);
    border: 5px solid rgb(214, 123, 201);
    border-style: solid none dashed none;
    border-radius: 5rem;
    font-size: 30px;
    color: rgb(233, 72, 163);
    padding: 20px 40px;
    margin: 74px;
}

.start-button-class:hover, .reset-class:hover {
    background-color: rgb(118, 229, 71);
}

.question-display-wrapper {
    background-color: rgb(21, 231, 203);
    border: 5px solid white;
    border-style: double;
    border-radius: 1rem;
    font-size:large;
    width: 80%;
    margin-left: 9%;
    margin-top: 5px;
}

.answer-button-wrapper button{
    background-color: yellow;
    border: 5px solid orange;
    border-radius: 1rem;
    width: 150px;
    height: 60px;
    font-size: large;
    margin: 10px;
}

.answer-button-wrapper :hover {
    border-color: white;
}

.hide {
    display: none;
}

#spanScore {  
    display: inline-block;
    width: 10px;
    padding: 3px 10px 0px 5px;
}

.score-class {
    font-size: larger;
    color: rgb(255, 255, 255);
    padding: 11px;
    border: 10px solid rgb(109, 191, 198);
    border-style: double;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 600px) {
    .question-display-wrapper {
        font-size: 13px;
    }
    .score-class {
        font-size: medium;
    }
    .game-graphic, .you-win, .you-lose {
        height: 200px;
        width: 200px;
    }
    .answer-button-wrapper button{
        width: 130px;
        height: 50px;
        font-size: 13px;
        margin: 5px;
        border: 3px solid orange;
    }
    .start-button-class, .reset-class {
        font-size: 20px;
        margin: 43px 40px 60px 40px;
    }
    .container {
        border: 10px solid rgb(21, 231, 203);
        width: 75%;
    }
}